@charset "utf-8";
/* CSS Document */
#banner 
{ 
background-color:#BAE2F9;
text-align:center;
font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
}

#navbar 
{ 
background-color:#CEE7F5;
text-align:center;
font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
}

#content
{
font-size:16px;
font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif
}

#footer
{
text-align:left;
font-size:16px;
font-style:italic;
}

#form1 
{ 
background-color:#CEE7F5;
text-align:left;
font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
}

#announcementpic{
background-position: top right;
height:150px;
padding-right: 150px;
width: 350px;
float: right;
margin: 10px;
}

body
{
	background-color:#EFEFEF;
}

.cosplayimage1
{
	height: auto; 
    width: auto; 
    max-width: 30%; 
    max-height: 30%;
	margin:auto;
}

.cosplayimage2 
{
	height: auto; 
    width: auto; 
    max-width: 30%; 
    max-height: 30%;
	margin:auto;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}

.cossieplaypartyimage1
{
	height: auto; 
    width: auto; 
    max-width: 30%; 
    max-height: 30%;
	margin:auto;
}

.cossieplaypartyimage2
{
	height: auto; 
    width: auto; 
    max-width: 26.5%; 
    max-height: 26.5%;
	margin:auto;
}
.exclaimation
{
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
	font-size: 30px;
}


